{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-dark alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<br>
<h1>Account</h1>
<br>

<div class="card">
    <div class="card-header">
        {{ current_user.full_name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Welcome to you account page.</h5>
        <p class="card-text"><strong>First Name:</strong> {{ current_user.first_name }} <br>
            <strong>Last Name:</strong> {{ current_user.last_name }} <br>
            <strong>Username:</strong> {{ current_user.username }} <br>
            <strong>Email:</strong> {{ current_user.email }} <br>
            <strong>Date Joined:</strong> {{ current_user.date_added }} <br>
        </p>
        <div class="btn-group" role="group" aria-label="Button group">
            <a href="{{ url_for('auth.logout') }}" class="btn btn-dark me-2 rounded">Logout</a>
            <a href="{{ url_for('auth.edit_user', id=current_user.id) }}" class="btn btn-dark me-2 rounded">Edit
                Profile</a>
            <form action="{{ url_for('auth.delete_account', id=current_user.id)}}" method="post"
                onsubmit="return confirm('Are you sure you wish to delete your account?');">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
    </div>
</div>



<br><br><br><br>



{% endblock %}