{% extends "base.html" %}

{% block title %}Lists{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-dark alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if list_to_edit.list_owner_id == current_user.id %}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.list_name.label(class="form-label") }}
        {{ form.list_name(class="form-control", value=list_to_edit.list_name) }}
        <br>
        {{ form.submit(class="btn btn-dark") }}

        <a href="{{ url_for('lists.personal_lists') }}" class="btn btn-dark">Back</a>
    </form>

</div>
{% else %}
<div class="alert alert-dark alert-dismissible fade show" role="alert">
    Sorry! You Can't Edit This List...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<a href="{{ url_for('lists.lists') }}" class="btn btn-dark">Back</a>

{% endif %}


{% endblock %}