{% extends "base.html" %}

{% block title %}Lists{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-dark alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if current_user.id in group_members_ids %}
<br><br><br>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.task_name.label(class="form-label") }}
        {{ form.task_name(class="form-control") }}
        <br>
        {{ form.priority.label(class="form-label") }}
        {{ form.priority(class="form-select") }}
        <br>
        {{ form.due_date.label(class="form-label") }}
        {{ form.due_date (class= "datepicker") }}
        <br><br>
        {{ form.submit(class="btn btn-dark") }}
        <a href="{{ url_for('lists.view_list', list_id=list_id) }}" class="btn btn-dark">Back</a>
    </form>
</div>
{% else %}
<br><br><br><br>
<div class="alert alert-dark alert-dismissible fade show" role="alert">
    Either this list does not exist, or you don't have permission to add tasks to this list.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

{% endblock %}