<p class="fw-bold">Priority</p>
<div class="form-check">
    <input class="form-check-input priority-checkbox" type="checkbox" value="all_priorities" id="priority_all" checked>
    <label class="form-check-label" for="priority_all">
        All
    </label>
</div>
<div class="form-check">
    <input class="form-check-input priority-checkbox" type="checkbox" value="high" id="priority-high">
    <label class="form-check-label" for="priority-high">
        High
    </label>
</div>
<div class="form-check">
    <input class="form-check-input priority-checkbox" type="checkbox" value="medium" id="priority-medium">
    <label class="form-check-label" for="priority-medium">
        Medium
    </label>
</div>
<div class="form-check">
    <input class="form-check-input priority-checkbox" type="checkbox" value="low" id="priority-low">
    <label class="form-check-label" for="priority-low">
        Low
    </label>
</div>