<p class="fw-bold">Status</p>
<div class="form-check">
    <input class="form-check-input status-checkbox" type="checkbox" value="all_tasks" id="status_all" checked>
    <label class="form-check-label" for="status_all">
        All
    </label>
</div>
<div class="form-check">
    <input class="form-check-input status-checkbox" type="checkbox" value="in_progress" id="status_in_progress">
    <label class="form-check-label" for="status_in_progress">
        In Progress
    </label>
</div>
<div class="form-check">
    <input class="form-check-input status-checkbox" type="checkbox" value="due_today" id="status_due_today">
    <label class="form-check-label" for="status_due_today">
        Due Today
    </label>
</div>
<div class="form-check">
    <input class="form-check-input status-checkbox" type="checkbox" value="overdue" id="status_overdue">
    <label class="form-check-label" for="status_overdue">
        Overdue
    </label>
</div>
<div class="form-check">
    <input class="form-check-input status-checkbox" type="checkbox" value="finished" id="status_finished">
    <label class="form-check-label" for="status_finished">
        Finished
    </label>
</div>