{% extends "base.html" %}

{% block title %}Test Login{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-dark alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if email %}
Passed: {{ passed }}
{% else %}
<h1>Please login</h1>
<br>
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.email.label(class="form-label") }}

    {{ form.email(class="form-control") }}
    <br>
    {{ form.password_hash.label(class="form-label") }}

    {{ form.password_hash(class="form-control") }}

    <br>

    {{ form.submit(class="btn btn-secondary") }}

</form>

{% endif %}
{% endblock %}